{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | 講座選択{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <h1>講座選択</h1>

        <form action="{% url 'skillswap:course-selection' %}" method="GET">
            {% csrf_token %}
            <input type="submit" value="新着順" name="new">
            <input type="submit" value="投稿順" name="old">
        </form>

        {% for course in object_list %}
        <a href="{% url 'skillswap:course-detail' course.user_id_id %}">
            <table border="1">
                <tr>
                    <td>
                    {% if course.course_img %}
                    <img class="superimg" src="{{ course.course_img.url }}" width="120" height="120"/>
                    {% else %}
                    <img class="superimg" src="{% static 'assets/sample.png' %}" width="120" height="120"/>
                    {% endif %}
                    </td>
                    <th>{{ course.title }}</th>
                    <td>{{ course.detail }}</td>

                    {% if course.user_id_id != user.id %}
                    <td><a href="{% url 'skillswap:request-application' course.pk %}"><button>依頼</button></a></td>
                    {% endif %}

<!--                    {% for r in course_request_list %}-->
<!--                    <p>-&#45;&#45;&ndash;&gt;>>>>{{ r.user_id }}</p>-->
<!--                    <p>-&#45;&#45;&ndash;&gt;>>>>{{ r.user_id_id }}</p>-->
<!--                    <p>-&#45;&#45;&ndash;&gt;>>>>{{ r.title }}</p>-->

<!--                    {% if r.message %}-->
<!--                    <td><a href="{% url 'skillswap:requested-course-cancel' r.pk %}"><button>キャンセル</button></a></td>-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->


<!--                    {% for request in request_list %}-->
<!--                    {% if course.user_id_id != user.id %}-->
<!--&lt;!&ndash;                        {% if request.user_id_id == user.id %}&ndash;&gt;-->
<!--                        <td><a href="{% url 'skillswap:request-application' course.pk %}"><button>依頼</button></a></td>-->
<!--&lt;!&ndash;                        {% else %}&ndash;&gt;-->
<!--                        <td><a href="{% url 'skillswap:requested-course-cancel' request.pk %}"><button>キャンセル</button></a></td>-->
<!--&lt;!&ndash;                        {% endif %}&ndash;&gt;-->
<!--                    {% endif %}-->
<!--                    {% endfor %}-->
                </tr>
            </table>
        </a>
        {% empty %}
        <p>講座がありません</p>
        {% endfor %}
    </div>
</div>
{% endblock %}