{% extends 'mypage.html' %}
{% load static %}

{% block title %}SKILLSWAP | お気に入りの講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<!--<style>-->
<!--    table{-->
<!--      left:20%;-->
<!--    }-->
<!--</style>-->
<style>
    .btn1{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 900px;
    }
    .img1{
      position: absolute;
      top:19%;
      left:5%;
      z-index: -1;
    }
    .myimg{
      left:25%;
    }
    .choice{
        font-family: cursive, 'Noto Sans JP', sans-serif;
        margin: 0px 0px 0px 60px;
    }
    .choice1{
       margin: 0px 0px 60px 0px;
    }
    table{
      position: absolute;
      left:40%;
      top:38%;
    }
    .btn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 1200px;
      position: absolute;
      top:80%;
    }
    .wbtn{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: relative;
      top: 80%;
      left: 79.5%;
      margin: 15px;
    }
    .myinfo{
      padding: 0px;
    }
    th{
      width:  250px;              /* 幅指定 */
      height: 80px;
      font-size: 20px;
    }
    td{
      width:  400px;              /* 幅指定 */
      height: 169px;
      font-size: 20px;
      position: sticky;
    }
    .container{
      padding: 40px 0px 0px 0px;
    }
    .wbtn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: absolute;
      top: 50%;
      left: 47%;
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div class="myinfo">

    <table border="1">
        {% for favorite in favorite_list %}
        <tr>
            <th>{{ favorite.course_id.title }}</th>
            <td>{{ favorite.user_id_id }}</td>
<!--            {% if favorite.course_img %}-->
<!--            <img class="myimg" src="{{ favorite.course_img.url }}" width="170" height="170"/>-->
<!--            {% else %}-->
<!--            <img class="myimg" src="{% static 'assets/sample.png' %}" width="170" height="170"/>-->
<!--            {% endif %}-->
        </tr>

    {% empty %}
    <p>お気に入りに追加した講座はありません。</p>
    {% endfor %}
    </table>
</div>
{% endblock %}