{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | 言語作成確認{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
仮なので変更してください
<div class="container">
    言語確認画面
    <a href="{% url 'skillswap:language-input' %}" class="btn btn-primary btn-lg">戻る</a>
    <hr>
    <form action="{% url 'skillswap:language-create' %}" method="POST">
        {% for field in form %}
        <div class="form-group">
    <!--        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>-->
            {{ field.value }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg">送信</button>
        {% csrf_token %}
    </form>
</div>
{% endblock %}