{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | マイ講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<!--<style>-->
<!--    .btn1{-->
<!--      width:80px;-->
<!--      height:35px;-->
<!--      background:rgb(70,130,180);-->
<!--      border-radius:35px;-->
<!--      cursor : pointer;-->
<!--      font-family: cursive, 'Noto Sans JP', sans-serif;-->
<!--      margin-left: 900px;-->
<!--    }-->
<!--    .img1{-->
<!--      position: absolute;-->
<!--      top:19%;-->
<!--      left:5%;-->
<!--      z-index: -1;-->
<!--    }-->
<!--    .choice{-->
<!--      font-family: cursive, 'Noto Sans JP', sans-serif;-->
<!--       margin: 0px 0px 0px 60px;-->
<!--    }-->
<!--    .choice1{-->
<!--       margin: 0px 0px 60px 0px;-->
<!--    }-->
<!--    table{-->
<!--      position: absolute;-->
<!--      top:38%;-->
<!--      left:20%;-->
<!--    }-->
<!--    .btn2{-->
<!--      width:80px;-->
<!--      height:35px;-->
<!--      background:rgb(70,130,180);-->
<!--      border-radius:35px;-->
<!--      cursor : pointer;-->
<!--      font-family: cursive, 'Noto Sans JP', sans-serif;-->
<!--      margin-left: 1200px;-->
<!--      position: absolute;-->
<!--      top:80%;-->
<!--    }-->
<!--</style>-->
<style>
    .btn1{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 900px;
    }
    .img1{
      position: absolute;
      top:19%;
      left:5%;
      z-index: -1;
    }
    .myimg{
      position: absolute;
      top:42.5%;
      left:25%;
      z-index: -1;
    }
    .choice{
      position: absolute;
      top:35.5%;
      font-family: cursive, 'Noto Sans JP', sans-serif;
       margin: 0px 0px 0px 60px;
       padding: 5px 0px;

    }
    .choice1{
       margin: 0px 0px 60px 0px;
    }
    table{
      position: relative;
      left:40%;

    }
    .btn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 1200px;
      position: absolute;
      top:80%;
    }
    .wbtn{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: relative;
      top: 80%;
      left: 79.5%;
      margin: 15px;
    }
    .myinfo{
      padding: 0px;
    }
    th{
      width:  250px;              /* 幅指定 */
      height: 80px;
      font-size: 20px;
    }
    td{
      width:  400px;              /* 幅指定 */
      height: 169px;
      font-size: 20px;
      position: sticky;
    }
    .container{
      padding: 40px 0px 0px 0px;
    }
    .wbtn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      position: absolute;
      top: 50%;
      left: 47%;
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}

<div class="container">
    <div class="daily">
        {% for skillseat in skillseat_list %}
        {% if skillseat.user_img %}
        <img class="img1" src="{{ skillseat.user_img.url }}" width="120" height="120"/>
        {% else %}
        <img class="img1" src="{% static 'assets/sample.png' %}" width="120" height="120"/>
        {% endif %}

        <div class="info">
            <h2>
                <span class="cl1">名前：{{ skillseat.user_name }}</span>
                <span class="cl2">性別：{{ skillseat.gender }}</span>
                生年月日：{{ skillseat.birthday }}
            </h2>
            {% if skillseat.user_evaluation %}
            <h2>評価：{{ skillseat.user_evaluation }}</h2>
            {% endif %}
            <button class="btn1"><a href="{% url 'skillswap:skillseat-update' skillseat.pk %}">更新</a></button>
        </div>
        {% endfor %}
    </div>
    <div class="myinfo">
        {% for course in course_list %}
        <table border="1">
            <tr>
                <th>{{ course.title }}</th>
                <td>{{ course.detail }}</td>
                {% if course.course_img %}
                <img class="myimg" src="{{ course.course_img.url }}" width="170" height="170"/>
                {% else %}
                <img class="myimg" src="{% static 'assets/sample.png' %}" width="170" height="170"/>
                {% endif %}
            </tr>
        </table>
        <button class="wbtn"><a href="{% url 'skillswap:my-course-update' course.pk %}">更新</a></button>
        {% empty %}
        <p>マイ講座を作成してください。</p>
        <button class="wbtn2"><a href="{% url 'skillswap:my-course-create' %}">作成</a></button>
        {% endfor %}
<!--        <a href="{% url 'skillswap:skillseat-browse' %}">戻る</a>-->
    </div>

    <div class="choice">
        <a class="choice1" href="{% url 'skillswap:profile-text' %}">| プロフィール文章</a><br>
        <br>
        <a class="choice1" href="{% url 'skillswap:skillseat-browse' %}">| スキルシート</a><br>
        <br>
        <a class="choice1" href="{% url 'skillswap:my-course' %}">| マイ講座</a><br>
        <br>
        <a class="choice1" href="">| お気に入りの講座</a><br>
        <br>
        <a class="choice1" href="">| 依頼済みの講座</a><br>
        <br>
        <a class="choice1" href="">| 講座受講履歴</a><br>
    </div>
</div>
{% endblock %}