{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | 相手のプロフィール{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<h1>相手のプロフィール</h1>
<div class="container">
        {% for skillseat in skillseat_list %}
        {% if skillseat.user_img %}
        <img src="{{ skillseat.user_img.url }}" width="200" height="200"/>
        {% else %}
        <img src="{% static 'assets/sample.png' %}" width="200" height="200"/>
        {% endif %}

        <h2>名前：{{ skillseat.user_name }}</h2>
        <h2>性別：{{ skillseat.gender }}</h2>
        <h2>生年月日：{{ skillseat.age }}</h2>
        {% if skillseat.user_evaluation %}
        <h2>評価：{{ skillseat.user_evaluation }}</h2>
        {% endif %}

        <a href="{% url 'skillswap:others-profile-course' skillseat.user_id_id %}">講座</a>
        <p>プロフィール文章：{{ skillseat.profile_text }}</p>
        <a href="{{request.META.HTTP_REFERER}}">戻る</a>
        {% endfor %}
    </div>
</div>
{% endblock %}