{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | 相手の講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<h1>相手の講座</h1>
<div class="container">
    {% for skillseat in skillseat_list %}
        {% if skillseat.user_img %}
        <img src="{{ skillseat.user_img.url }}" width="200" height="200"/>
        {% else %}
        <img src="{% static 'assets/sample.png' %}" width="200" height="200"/>
        {% endif %}

        <h2>名前：{{ skillseat.user_name }}</h2>
        <h2>性別：{{ skillseat.gender }}</h2>
        <h2>生年月日：{{ skillseat.birthday }}</h2>
        {% if skillseat.user_evaluation %}
        <h2>評価：{{ skillseat.user_evaluation }}</h2>
        {% endif %}

        <p>プロフィール文章：{{ skillseat.profile_text }}</p>

    {% endfor %}

    <a href="{% url 'skillswap:others-profile-course' skillseat.user_id_id %}">講座</a>
    <a href="{% url 'skillswap:others-profile-skillseat' skillseat.user_id_id %}">スキルシート</a>

    {% for course in course_list %}
        <table border="1">
            <tr>
                <th>{{ course.title }}</th>
                <td>{{ course.detail }}</td>
                {% if course.course_img %}
                <img src="{{ course.course_img.url }}" width="200" height="200"/>
                {% else %}
                <img src="{% static 'assets/sample.png' %}" width="200" height="200"/>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
        <a href="{{request.META.HTTP_REFERER}}">戻る</a>
    </div>
</div>
{% endblock %}