{% extends 'mypage.html' %}
{% load static %}

{% block title %}SKILLSWAP | 依頼済みの講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<style>
    .btn1{
      width:80px;
      height:35px;
      background:rgb(69, 123, 167);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 900px;
    }
    .img1{
      position: absolute;
      top:19%;
      left:5%;
      z-index: -1;
    }
    .choice{
      font-family: cursive, 'Noto Sans JP', sans-serif;
       margin: 0px 0px 0px 60px;
       z-index: -1;
    }
    .choice1{
       margin: 0px 0px 60px 0px;
    }

    .btn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 899.5px;
      position: absolute;
      top:337%;
    }
    .profile p{
      font-size: 18px;
    }
    .superimg{
        position: static;
        transform: translateY(0%);
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div>
    <ul>
        {% for course in course_list %}
        {% if course.course_img %}
        <li><img class="superimg" src="{{ course.course_img.url }}" width="200" height="200"/></li>
        {% else %}
        <li><img class="superimg" src="{% static 'assets/sample.png' %}" width="200" height="200"/></li>
        {% endif %}
        <li>{{ course.title }}</li>
        <li>{{ course.detail }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for request in request_list %}
        <li>{{ request.message }}</li>
        <li><a href="{% url 'skillswap:requested-course-cancel' request.pk %}"><button>キャンセル</button></a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}