{% extends 'mypage.html' %}
{% load static %}

{% block title %}SKILLSWAP | 依頼済みの講座{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<style>
    .btn1{
      width:80px;
      height:35px;
      background:rgb(69, 123, 167);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 900px;
    }
    .img1{
      position: absolute;
      top:19%;
      left:5%;
      z-index: -1;
    }
    .choice{
      font-family: cursive, 'Noto Sans JP', sans-serif;
       margin: 0px 0px 0px 60px;
       z-index: -1;
    }
    .choice1{
       margin: 0px 0px 60px 0px;
    }

    .btn2{
      width:80px;
      height:35px;
      background:rgb(70,130,180);
      border-radius:35px;
      cursor : pointer;
      font-family: cursive, 'Noto Sans JP', sans-serif;
      margin-left: 899.5px;
      position: absolute;
      top:337%;
    }
    .profile p{
      font-size: 18px;
    }
    .superimg{
        position: static;
        transform: translateY(0%);
    }
</style>
{% endblock %}

{% block header %}{% endblock %}

{% block contents %}
<div>
    <ul>
        {% for course in course_list %}
        {% if course.course_img %}
        <li><img class="superimg" src="{{ course.course_img.url }}" width="200" height="200"/></li>
        {% else %}
        <li><img class="superimg" src="{% static 'assets/sample.png' %}" width="200" height="200"/></li>
        {% endif %}
        <li>{{ course.title }}</li>
        <li>{{ course.detail }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for request in request_list %}
        <li>{{ request.message }}</li>
        <li><a href="{% url 'skillswap:requested-course-cancel' request.pk %}"><button>キャンセル</button></a></li>
        {% endfor %}
    </ul>
</div>
<!--<div class="container">-->
<!--    <div class="daily">-->
<!--        {% for skillseat in skillseat_list %}-->
<!--        {% if skillseat.user_img %}-->
<!--        <img src="{{ skillseat.user_img.url }}" width="200" height="200"/>-->
<!--        {% else %}-->
<!--        <img src="{% static 'assets/sample.png' %}" width="200" height="200"/>-->
<!--        {% endif %}-->

<!--        <h2>名前：{{ skillseat.user_name }}</h2>-->
<!--        <h2>性別：{{ skillseat.gender }}</h2>-->
<!--        <h2>生年月日：{{ skillseat.birthday }}</h2>-->
<!--        {% if skillseat.user_evaluation %}-->
<!--        <h2>評価：{{ skillseat.user_evaluation }}</h2>-->
<!--        {% endif %}-->

<!--        <button class="btn"><a href="{% url 'skillswap:skillseat-update' skillseat.pk %}">更新</a></button>-->

<!--        {% endfor %}-->


<!--    </div>-->

<!--    <div>-->
<!--        <a href="{% url 'skillswap:profile-text' %}">プロフィール文章</a><br>-->
<!--        <a href="{% url 'skillswap:skillseat-browse' %}">スキルシート</a><br>-->
<!--        <a href="{% url 'skillswap:my-course' %}">マイ講座</a><br>-->
<!--        <a href="">お気に入りの講座</a><br>-->
<!--        <a href="">依頼済みの講座</a><br>-->
<!--        <a href="">講座受講履歴</a><br>-->
<!--    </div>-->

<!--</div>-->
{% endblock %}