{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | プロフィール更新{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
  $('input[type=file]').after('<span></span>');

  // アップロードするファイルを選択
  $('input[type=file]').change(function() {
    var file = $(this).prop('files')[0];

    // 画像以外は処理を停止
    if (! file.type.match('image.*')) {
      // クリア
      $(this).val('');
      $('#pimg').html('');
      return;
    }

    // 画像表示
    var reader = new FileReader();
    reader.onload = function() {
      var img_src = $('<img>').attr({
        src: reader.result,
        class: 'previewimg',
      });
      $('#pimg').html(img_src);
    }
    reader.readAsDataURL(file);
  });
});
</script>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">更新</button>
            </form>
            <div id="pimg"></div>
                            <a href="{% url 'skillswap:skillseat-browse' %}"><button class="btn btn-primary">キャンセル</button></a>
        </div>
    </div>
</div>
{% endblock %}