{% extends 'base.html' %}
{% load static %}

{% block title %}SKILLSWAP | スキルシート作成{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}
仮なので変更してください
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">確定</button>
                <a href="{% url 'skillswap:index' %}">戻る</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}