@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: aquamarine;
}

header {
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(254, 255, 255);
  position:fixed;
  border-bottom: solid 2.5px #0000FF;
  z-index: 5;
}
header .headline{
  font-size: 32px;
}
header input {
  margin: 0px auto;
  text-align: center;
}
hr {
  border-bottom: 15px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
#global_navi ul li {
  width: 0px;
  float: left;
  margin-right: 0;
  text-align: center;
}
#global_navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*#global_navi ul select {
  width: 100px;
  float: right;
  margin-right: 0;
  text-align: right;
}*/
.btn{
  width:80px;
  height:35px;
  background:rgb(70,130,180);
  border-radius:35px;
  cursor : pointer;
  font-family: cursive, 'Noto Sans JP', sans-serif;
}
.row{
  padding: 20px;
}
.profile{
      position: absolute;
      top:33%;
      left:18.5%;
      padding:25px;
}
div{
  padding: 40px 0px 25px 0px;
}
hr{
  border-top: 2px solid #0000FF;
}
p{
  text-align: center;
  font-family: cursive, 'Noto Sans JP', sans-serif;
}
search-box input[type="text"] {
  flex-grow: 1;
  padding: 0.7px 0px 0.7px 800px;
  border: 1px solid #333947;
  border-radius: 1.5rem 0 0 1.5rem;
  left: 50px;
  position: relative;
}
search-box button {
  cursor: pointer;
  padding: .8px .9px .8px .8px;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background-color: #333947;
  color: #fff;
  font-size: .75rem;
  position: relative;
  left: 50px;
}
search-box input:focus {
  outline: 0;
  border: 1px solid #4ab6f6;
}
search-box button:hover {
  color: #4ab6f6;
}
.select1{
  background-image:url("/static/img/sample.png");
  background-repeat: no-repeat;
  background-position:50% 0%;
  left: 650px;
  position: relative;
  text-indent: 100%;
  padding: 15px 0;
  border: 0 0 0 0;
  position: relative;
  height: 30;
  border: #fff;
  cursor : pointer;
}
option{
  text-indent: 100%;
  font-family: cursive, 'Noto Sans JP', sans-serif;
}
/*a:hover img { opacity: 0.7; }
select:hover png { opacity: 0.7; }*/
img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btn{
  margin-top: 150px;
}
.select1{
  transform: translateY(0%);
  top: 50%;
  height: 55px;
}
/*h1{
  text-align: center;
}*/
.my-div-style{
    padding: 0;
}
label{
    display: inline-block;
    text-align: right;
    width: 150px;
}
ul {
  list-style: none;
}
tbody{
  border: solid;
}
.widgets{
  border: solid;
}
/*.table{
  width: 35%;
  height: 40%;
  border: 2px solid black;
  margin: 25px;
}
/*textarea{
  border: 2px solid black;
  margin: 25px;
}
th{
  border: 2px solid black;
  margin: 25px;
}
td{
  border: 2px solid black;
  margin: 25px;
}*/
a{
  text-decoration: none;
  color: black;
}
.form-group{
  padding: 15px;
}
header input{
  position: relative;
  left: 50px;
}
header button{
  position: relative;
  left: 50px;
}
.row{
  padding: 10px 15px;
}
.cl1{
  margin-right: 55px;
  margin-left: 60px;
}
.cl2{
  margin-right: 55px;
}
.info{
  border: 1px solid black;
  margin: 0px 0px 0px 300px;
  padding: 0px 0px 15px 0px;
}
.daily{
  margin-right: 100px;
}
/*講座選択関連のクラス"superimg"
  course_selection, course_detail, others_profile_text, others_profile_skillseat, others_profile_course*/
.superimg{
 position: static;
 transform: translateY(0%);
}
/* ヘッダー */
header input{
  position: absolute;
  top: 25%;
  left: 42%
}
header button{
  position: absolute;
  top: 25.5%;
  left: 54%;
}
.infomation{
  position: absolute;
  left:87%;
  top: 47%;
}
form{
  margin: 0px;
}
.headerform{
  height: 0px;
}